# R environment
.Rproj.user/
.Rhistory
.RData

# R Markdown cache
*_cache/

# R Markdown HTML output
*.html

# R Markdown files produced during rendering
*.md

# R Shiny
.Rapp.history

# R package build
*.tar.gz

# R check
.Rcheck/

# R Markdown files
.Rmd

# R environment temp files
.Rproj.user/
